{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Budget Plan for {{ budget_month_date }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Get Transactions</button>
  </form>

<table class="table table-dark table-bordered">
<thead>
<tr>
<th scope="col">Description</th>
<th scope="col">Monthly Budget</th>
<th scope="col">Monthly Spend</th>

</thead>
<tbody>
{% if budgets_for_selected_month %}
    {% for budget in budgets_for_selected_month %}
        <tr>
        <td>{{ budget.category }}</td>
        <td>${{ budget.budget_amount | floatformat:2 }}</td>
        <td>TBD</td>
       </tr>
    {% endfor %}
{% else %}
    Nothing available
{% endif %}
</tbody>
</table>

<p><strong>Total spend this month: $</strong>{{ total }}

{% endblock %}
   </div>
</div>
</div>
